@import url("https://fonts.googleapis.com/css?family=Anta|Train One|Big Shoulders Stencil Text|Tektur|Zen Kurenaido|Protest Guerrilla|Electrolize&effect=neon");
::-webkit-scrollbar{
    background: #12121200;
    width: 0.75rem;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #808080;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #a0a0a0;
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body{
    background-attachment: fixed;
    background-color: rgb(18, 18, 18);
    color: rgba(245, 245, 245, 0.9);
    margin: 0%;
    
}
.navbar{
    position: sticky;
    top: 0.5rem;
    display: flex;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.6);
    max-width: calc(100% - 1rem);
    height: calc(15vh - 0.5rem);
    border-radius: 100px;
    margin: auto;
    box-shadow:  0 0 5px #9d9d9d,
             0 0 5px #ffffff;
}
.logo{
    font-size:x-large;
    font-weight: bold;
    display: flex;
    font-variant: small-caps;
    font-family:'Anta';
    margin-left: 2rem;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    color: rgba(245, 245, 245, 0.9);
    text-decoration: none;
}
.logo_name{
    margin: 0.5rem;
}
.logo_name::first-letter{
    color: black;
    text-shadow: 0 0 4px whitesmoke;
}
.menu{
    margin-left: auto;
    margin-right: 1.5rem;
    display: flex;
    max-width: 70%;
    flex-grow: 1;
    height: 60%;    
}
.menu_items{
    margin: auto;
}
.menu_items a{
    color: rgba(245, 245, 245, 0.4);
    font-weight: bolder;
    font-family: 'Tektur';
    text-decoration: none;
    font-size: larger;
    width: fit-content;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_items a::after{
    content: "";
    height: 0.4rem;
    background-color: rgb(0, 68, 255);
    width: 0%;
    transition: all 200ms ease;
}
.menu_items a:hover, .menu_items a:active{
    color: rgba(245, 245, 245, 0.9);
    text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.9);
}
.menu_items a:hover::after, .menu_items a:active::after{
    width: 100%;
}
#home, #skills, #projects, #contact, #about{
    height: 85svh;
    max-width: 100%;
    display: flex;
    scroll-snap-align: end;
}
#home{
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.home_text_container{
    min-width: 40%;
    height: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.home_text_1{
    font-family: 'Big Shoulders Stencil Text';
    font-size: medium;
    margin: 0%;
}
.home_text_2{
    margin: 0%;
    font-family: 'Zen Kurenaido';
    font-size: xxx-large;
}
.home_text_3{
    margin: 0%;
    font-family: 'Train One';
    font-size: larger;
}
.resume_download{
    margin-top: 4rem;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(245, 245, 245, 0.9);
    background: linear-gradient(217deg, rgb(0, 140, 255), rgba(0, 0, 0, 0) ),
            linear-gradient(127deg, rgb(116, 1, 247), rgba(0,255,0,0) ),
            linear-gradient(336deg, rgb(16, 16, 159), rgba(0,0,255,0) );
    transition: all 150ms ease;
}
.resume_download:hover{
    box-shadow: 0 0 50px 10px rgb(68, 0, 255);
}
.resume_download:active{
    box-shadow: 0 0 50px 20px rgb(68, 0, 255);
}
.home_image_container{
    width: 25rem;
    aspect-ratio: 1;
    border-radius: 28% 72% 74% 26% / 30% 50% 50% 70% ;
    background-image: url(./Images/Profile_pic.jpg);
    background-size: cover;
}
#about{
    flex-direction: column;
}
.about_header{
    margin: .5rem auto 0rem auto;
    display: flex;
    align-items: center;
}
.about_header > p{
    font-family: 'Protest Guerrilla';
    font-size: 60px;
    margin: 0px 2rem ;
}
.about_container{
    margin: 1.5rem auto 0rem auto;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.about_image_container{
    margin: 0rem 1rem;
    width: 18rem;
    max-width: 40%;
    aspect-ratio: 1;
    border-radius: 30px;
    background-image: url(./Images/CSS_template.jpeg);
    background-size: cover;
}
.about_text_container{
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact_me{
    height: fit-content;
    width: fit-content;
    border-radius: 50px;
    padding: 1rem;
    color: rgba(245, 245, 245, 0.9);
    background: linear-gradient(217deg, rgb(0, 140, 255), rgba(0, 0, 0, 0) ),
            linear-gradient(127deg, rgb(116, 1, 247), rgba(0,255,0,0) ),
            linear-gradient(336deg, rgb(16, 16, 159), rgba(0,0,255,0) );
    text-decoration: none;
    transition: all 150ms ease;
}
.contact_me:hover, .contact_me:active{
    box-shadow: 0 0 50px 20px rgb(68, 0, 255);
}
.about_hyperlink_container{
    margin: 0rem 1rem;
    min-width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.linkedin_link, .github_link, .skillrack_link, .leetcode_link{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-size: contain;
    transition: all 150ms ease;
    text-decoration: none;
}
.linkedin_link{
    background-image: url(./Images/linkedin_outline.png);
}
.github_link{
    background-image: url(./Images/github_outline.png);
}
.skillrack_link{
    background-image: url(./Images/skillrack_outline.png);
}
.leetcode_link{
    background-image: url(./Images/leetcode_outline.png);
}
.linkedin_link:hover, .linkedin_link:active{
    background-image: url(./Images/linkedin_fill.png);
}
.github_link:hover, .github_link:active{
    background-image: url(./Images/github_fill.png);
}
.skillrack_link:hover, .skillrack_link:active{
    background-image: url(./Images/skillrack_fill.png);
}
.leetcode_link:hover, .leetcode_link:active{
    background-image: url(./Images/leetcode_fill.png);
}
.linkedin_link:active{
    box-shadow: 0 0 50px 10px rgb(0, 179, 255);
}
.github_link:active{
    box-shadow: 0 0 50px 10px rgb(68, 0, 255);
}
.skillrack_link:active{
    box-shadow: 0 0 50px 10px rgb(0, 220, 255);
}
.leetcode_link:active{
    box-shadow: 0 0 50px 10px rgb(157, 0, 255);
}
#skills{
    flex-direction: column;
}
.skills_header{
    margin-top: .5rem;
    display: flex;
    align-items: center;
}
.skills_header > p{
    font-family: 'Protest Guerrilla';
    font-size: 60px;
    margin: 0px 2rem ;
}
.arrows{
    height: 60px;
    aspect-ratio: 1;
}
.skills_container{
    margin: auto;
    width: 80%;
    height: fit-content;
    padding: 2% 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skills_items{
    position: relative;
    margin: 2% 3%;
    width: calc(13% + 0.5rem);
    border-radius: 50%;
    aspect-ratio: 1;
    transition: all 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills_items:hover{
    transform: scale(1.4);
}
.skills_items:hover .skill_info{
    display: flex;
    backdrop-filter: blur(6.6px) saturate(100%);
}
.skills_items:hover .percentage_mask{
    background-color: rgb(18, 18, 18);
}
.percentage_mask{
    position: relative;
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill_images{
    max-width: 90%;
    max-height: 90%;
}
.skill_info{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill_info > p{
    font-size: medium;
    font-family: 'Electrolize';
    font-weight: bolder;
    color: black;
    text-shadow: -1px 1px 0 whitesmoke,
                1px 1px 0 whitesmoke,
                1px -1px 0 whitesmoke,
                -1px -1px 0 whitesmoke;
}
#projects{
    background-color: rgb(44, 161, 69);
}
#contact{
    background-color: rgb(206, 31, 31);
}