@import url("https://fonts.googleapis.com/css?family=Anta|Train One|Big Shoulders Stencil Text|Tektur|Zen Kurenaido|Protest Guerrilla|Electrolize|Poppins&effect=neon");
::-webkit-scrollbar{
    background: #12121200;
    width: 0.75rem;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #808080;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #a0a0a0;
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body{
    background-attachment: fixed;
    background-color: rgb(18, 18, 18);
    color: rgba(245, 245, 245, 0.9);
    margin: 0%;
    
}
/* ===NAVBAR=== */
.navbar{
    z-index: 20;
    position: sticky;
    top: 0.5rem;
    display: flex;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.6);
    max-width: calc(100% - 1rem);
    height: calc(15vh - 0.5rem);
    border-radius: 100px;
    margin: auto;
    box-shadow:  0 0 5px #9d9d9d,
             0 0 5px #ffffff;
}
.logo{
    font-size:large;
    font-weight: bold;
    display: flex;
    font-family:'Anta';
    margin-left: 2rem;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    background: linear-gradient(85deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.logo_name{
    margin: 0.5rem;
}
.menu{
    margin-left: auto;
    margin-right: 1.5rem;
    display: flex;
    max-width: 70%;
    flex-grow: 1;
    height: 60%;    
}
.menu_items{
    margin: auto;
}
.menu_items a{
    color: rgba(245, 245, 245, 0.4);
    font-weight: bolder;
    font-family: 'Tektur';
    text-decoration: none;
    font-size: larger;
    width: fit-content;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_items a::after{
    content: "";
    height: 0.4rem;
    background-color: rgb(0, 68, 255);
    width: 0%;
    transition: all 200ms ease;
}
.menu_items a:hover, .menu_items a:active{
    color: rgba(245, 245, 245, 0.9);
    text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.9);
}
.menu_items a:hover::after, .menu_items a:active::after{
    width: 100%;
}
/* ===GENERAL=== */
#home, #skills, #projects, #contact, #about{
    height: 85svh;
    max-width: 100%;
    display: flex;
    scroll-snap-align: end;
}
/* ===HOME=== */
#home{
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.home_text_container{
    min-width: 40%;
    height: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.home_text_1{
    font-family: 'Big Shoulders Stencil Text';
    font-size: medium;
    margin: 0%;
}
.home_text_2{
    margin: 0%;
    font-family: 'Zen Kurenaido';
    font-size: xxx-large;
    background: linear-gradient(85deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home_text_3{
    margin: 0%;
    font-family: 'Train One';
    font-size: larger;
}
.resume_download{
    margin-top: 4rem;
    width: fit-content;
    height: fit-content;
    padding: calc(1rem - 2px);
    border-radius: 50px;
    text-decoration: none;
    font-size: large;    
    font-family: 'Electrolize';
    color: rgba(245, 245, 245, 0.9);
    box-sizing: border-box;
    border: 2px solid rgba(76, 0, 255, 0.9);
    background-image:   linear-gradient(217deg, rgb(0, 140, 255), rgba(0, 0, 0, 0) ),
                        linear-gradient(127deg, rgb(116, 1, 247), rgba(0,255,0,0) ),
                        linear-gradient(336deg, rgb(16, 16, 159), rgba(0,0,255,0) );
    transition: all 150ms ease;
}
.resume_download:hover, .resume_download:active{
    background-image: transparent;
    background: linear-gradient(85deg, rgb(0, 140, 255) 0%, rgb(116, 1, 247) 50%, rgb(5, 153, 252) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.resume_download:active{
    box-shadow: 0 0 50px 10px rgb(68, 0, 255);
}
.home_image_container{
    width: 25rem;
    aspect-ratio: 1;
    border-radius: 28% 72% 74% 26% / 30% 50% 50% 70% ;
    background-image: url(./Images/Profile_pic_1.jpg);
    background-size: cover;
}
/* ===GENERAL=== */
.section_header{
    margin: .5rem auto 0rem auto;
    display: flex;
    align-items: center;
}
.section_header > p{
    font-family: 'Poppins';
    font-size: 50px;
    margin: 0px 2rem ;
}
/* ===ABOUT=== */
#about{
    flex-direction: column;
}
.about_container{
    margin: 1.5rem auto 0rem auto;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.about_image_container{
    margin: 0rem 1rem;
    width: 18rem;
    max-width: 40%;
    aspect-ratio: 1;
    border-radius: 30px;
    background-image: url(./Images/Profile_pic_2.png);
    background-size: cover;
    background-position: center;
}
.about_text_container{
    margin-left: 1.5rem;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-family:'Poppins';
    color: rgba(245, 245, 245, 0.8);
}
.contact_me{
    height: fit-content;
    width: fit-content;
    border-radius: 50px;
    padding: calc(1rem - 2px);
    color: rgba(245, 245, 245, 0.9);
    background-image: linear-gradient(217deg, rgb(0, 140, 255), rgba(0, 0, 0, 0) ),
            linear-gradient(127deg, rgb(116, 1, 247), rgba(0,255,0,0) ),
            linear-gradient(336deg, rgb(16, 16, 159), rgba(0,0,255,0) );
    text-decoration: none;
    transition: all 150ms ease;
    font-family: 'Electrolize';
    box-sizing: border-box;
    border: 2px solid rgba(76, 0, 255, 0.9);
}
.contact_me:hover, .contact_me:active{
    background-image: transparent;
    background: linear-gradient(85deg, rgb(0, 140, 255) 0%, rgb(116, 1, 247) 50%, rgb(5, 153, 252) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact_me:active{
    box-shadow: 0 0 50px 10px rgb(68, 0, 255);
}
.about_hyperlink_container{
    margin: 0rem;
    min-width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.linkedin_link, .github_link, .skillrack_link, .leetcode_link{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-size: contain;
    transition: all 150ms ease;
    text-decoration: none;
}
.linkedin_link{
    background-image: url(./Images/linkedin_outline.png);
}
.github_link{
    background-image: url(./Images/github_outline.png);
}
.skillrack_link{
    background-image: url(./Images/skillrack_outline.png);
}
.leetcode_link{
    background-image: url(./Images/leetcode_outline.png);
}
.linkedin_link:hover, .linkedin_link:active{
    background-image: url(./Images/linkedin_fill.png);
}
.github_link:hover, .github_link:active{
    background-image: url(./Images/github_fill.png);
}
.skillrack_link:hover, .skillrack_link:active{
    background-image: url(./Images/skillrack_fill.png);
}
.leetcode_link:hover, .leetcode_link:active{
    background-image: url(./Images/leetcode_fill.png);
}
.linkedin_link:active{
    box-shadow: 0 0 50px 10px rgb(0, 179, 255);
}
.github_link:active{
    box-shadow: 0 0 50px 10px rgb(68, 0, 255);
}
.skillrack_link:active{
    box-shadow: 0 0 50px 10px rgb(0, 220, 255);
}
.leetcode_link:active{
    box-shadow: 0 0 50px 10px rgb(157, 0, 255);
}
/* ===SKILLS=== */
#skills{
    flex-direction: column;
}
.arrows{
    height: 50px;
    aspect-ratio: 1;
}
.skills_container{
    margin: auto;
    width: 80%;
    height: fit-content;
    padding: 2% 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skills_items{
    position: relative;
    margin: 2% 3%;
    width: calc(13% + 0.5rem);
    border-radius: 50%;
    aspect-ratio: 1;
    transition: all 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.skills_items:hover{
    transform: scale(1.4);
}
.skills_items:hover .skill_info{
    display: flex;
    backdrop-filter: blur(6.6px) saturate(100%);
}
.skills_items:hover .percentage_mask{
    background-color: rgb(18, 18, 18);
}
.percentage_mask{
    position: relative;
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill_images{
    max-width: 90%;
    max-height: 90%;
}
.skill_info{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill_info > p{
    font-size: medium;
    font-family: 'Electrolize';
    font-weight: bolder;
    color: black;
    text-shadow: -1px 1px 0 whitesmoke,
                1px 1px 0 whitesmoke,
                1px -1px 0 whitesmoke,
                -1px -1px 0 whitesmoke;
}
/* ===PROJECTS=== */
#projects{
    flex-direction: column;
    align-items: center;
}
#projects > .section_header > .arrows{
    height: 60px;
    width: 80px;
    aspect-ratio: auto;
}
.project_container{
    width: 70%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.move_arrows{
    margin: .5rem;
    height: 2.5rem;
    aspect-ratio: 1;
    cursor: pointer;
    opacity: 50%;
}
.move_arrows:hover, .move_arrows:active{
    opacity: 100%;
}
.project_slider{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

}
.project_cards{
    height:90%;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project_image{
    border-radius: 10px;
    height: 100%;
    width:auto;
}
.project_info{
    height: 100%;
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    font-family: 'Electrolize';

}
.project_info > h1{
    margin: 1rem;
    font-size: larger;
}
.project_info > p{
    margin: 1rem;
    font-size: large;
    color: rgba(245, 245, 245, 0.6);
}
/* Slider Animation */
.active{
    display: flex;
    animation: slider_active 800ms ease-in-out;
    transform: translateX(0%);
}
.active_prev{
    display: flex;
    animation: slider_active_prev 800ms ease-in-out;
    transform: translateX(-100%);
}
.active_next{
    display: flex;
    animation: slider_active_next 800ms ease-in-out;
    transform: translateX(100%);
}
.inactive{
    display: none;
}
@keyframes slider_active{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes slider_active_prev{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes slider_active_next{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(100%);
    }
}
.active_reverse{
    display: flex;
    animation: slider_active_reverse 800ms ease-in-out;
    transform: translateX(0%);
}
.active_prev_reverse{
    display: flex;
    animation: slider_active_prev_reverse 800ms ease-in-out;
    transform: translateX(-100%);
}
.active_next_reverse{
    display: flex;
    animation: slider_active_next_reverse 800ms ease-in-out;
    transform: translateX(100%);
}
@keyframes slider_active_reverse{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes slider_active_prev_reverse{
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes slider_active_next_reverse{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
/* --------- */
/* ===CONTACT=== */
#contact{
    flex-direction: column;
    align-items: center;
}
.contact_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    max-height: 80% ;
    width: 90%;
}
.contact_name{
    grid-area: name;
}
.contact_email{
    grid-area: email;
}
.contact_subject{
    grid-area: subject;
}
.contact_message{
    grid-area: message;
}
.contact_submit{
    grid-area: submit;
}
.contact_form_grid{
    display: grid;
    height: fit-content;
    width: fit-content;
    gap: .4rem;
    width: fit-content;
    grid-template-areas:    'name name message message message'
                            'email email message message message'
                            'subject subject message message message'
                            'submit submit message message message';
}
.contact_items{
    padding: .4rem;
    border-radius: .5rem;
    border: 2px solid rgba(76, 0, 255, 0.4);
}
.contact_input_label{
    font-family: 'poppins';
    display: block;
}
.contact_input_space{
    margin: .2rem 0 0 0;
    background-color: rgb(18, 18, 18);
    color: rgba(245, 245, 245, 0.9);
    font-family: 'poppins';
    display: block;
    border: none;
    outline: none;
}
.contact_items:has(.contact_input_space:focus){
    border-color: rgb(76, 0, 255);
}
#contact_submit_button{
    font-family: 'poppins';
    border: 2px solid rgba(76, 0, 255, 0.6);
    background-image: linear-gradient(217deg, rgb(0, 140, 255), rgba(0, 0, 0, 0) ),
            linear-gradient(127deg, rgb(116, 1, 247), rgba(0,255,0,0) ),
            linear-gradient(336deg, rgb(16, 16, 159), rgba(0,0,255,0) );
    color: rgba(245, 245, 245, 0.9);
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    box-sizing: border-box;
    transition: all 200ms ease;
}
#contact_submit_button:hover, #contact_submit_button:active{
    background-image: transparent;
    color: rgba(76, 0, 255, 0.9);
    background: linear-gradient(85deg, rgb(0, 140, 255) 0%, rgb(116, 1, 247) 50%, rgb(5, 153, 252) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact_footer{
    margin-top: .8rem;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 136, 255, 0.9);
}
.footer_grid_container{
    margin: auto;
    height: 100%;
    width: 75%;
    display: grid;
    grid-template-areas:    'myName myName hyperlinks hyperlinks hyperlinks'
                            'myDetail myDetail hyperlinks hyperlinks hyperlinks';
}
.footer_my_name{
    grid-area: myName;
    max-height: fit-content;
}
.footer_my_name > h1{
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    font-family: 'Poppins';
}
.footer_my_details{
    grid-area: myDetail;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_my_details > div{
    margin: 0%;
    width:60%;
    display: flex;
    align-items: center;
}
.footer_icon{
    height: 1rem;
    margin: 0 0 .5rem .5rem;
}
.footer_text{
    margin: 0 0 .5rem .5rem;
    font-size: small;
    font-family: 'Poppins';
}
.footer_hyperlinks{
    grid-area: hyperlinks;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}