@import url("https://fonts.googleapis.com/css?family=Train One|Big Shoulders Stencil Text|Tapestry|Tektur|Protest Revolution|Protest Guerrilla|Electrolize&effect=neon");
::-webkit-scrollbar{
    background: #e0e0e0;
}
::-webkit-scrollbar-track{
    box-shadow: inset 5px 5px 10px #9d9d9d,
            inset -5px -5px 10px #ffffff;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  5px 5px 10px #9d9d9d,
             -5px -5px 10px #ffffff;
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body{
    background-attachment: fixed;
    background-image:   linear-gradient(127deg, rgb(72, 0, 167) ,rgba(46, 0, 140, 0) 100%),
                        linear-gradient(217deg, rgb(0, 0, 137) ,rgba(0, 0, 138, 0) 100%),
                        linear-gradient(336deg, black ,rgba(0, 0, 0, 0) 100%);
    margin: 0%;
}
.navbar{
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.587);
    max-width: 100%;
    height: 15vh;
}
.logo{
    font-size:xx-large;
    font-weight: bolder;
    color: whitesmoke;
    display: flex;
    font-variant: small-caps;
    font-family:'Protest Revolution';
    margin-left: 2rem;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
}
.logo_name{
    margin: 0.5rem;
}
.logo_name::first-letter{
    color: rgb(153, 0, 255);
}
.menu{
    margin-left: auto;
    margin-right: 1.5rem;
    display: flex;
    max-width: 70%;
    flex-grow: 1;
    height: 60%;    
}
.menu_items{
    margin: auto;
}
.menu_items a{
    color: whitesmoke;
    font-weight: bolder;
    font-family: 'Tektur';
    text-decoration: none;
    font-size: larger;
    width: fit-content;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_items a::after{
    content: "";
    height: 0.4rem;
    background-color: aqua;
    width: 0%;
    transition: all 200ms ease;
}
.menu_items a:hover::after{
    width: 100%;
}
#about, #skills, #projects, #contact{
    height: 85svh;
    max-width: 100%;
    display: flex;
    scroll-snap-align: end;
}
#about{
    /* background-color: rgb(255, 140, 0); */
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: whitesmoke;
}
.about_text_container{
    min-width: 40%;
    height: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.about_text_1{
    font-family: 'Big Shoulders Stencil Text';
    font-size: large;
    margin: 0%;
}
.about_text_2{
    margin: 0%;
    font-family: 'Tapestry';
    font-size: xxx-large;
}
.about_text_3{
    margin: 0%;
    font-family: 'Train One';
    font-size: larger;
}
.resume_download{
    margin-top: 4rem;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    background: linear-gradient(217deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) ),
            linear-gradient(127deg, rgb(116, 1, 247), rgba(0,255,0,0) ),
            linear-gradient(336deg, rgb(16, 16, 159), rgba(0,0,255,0) );
}
.resume_download:hover{
    transform: translate3d(-0.5rem,-0.5rem,-0.5rem);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.815);
}
.resume_download:active{
    transform: translate3d(0.5rem,0.5rem,0.5rem);
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.815);
}
.about_image_container{
    width: 30rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url(./Images/Profile_pic.jpg);
    background-size: cover;
}
#skills{
    flex-direction: column;
}
.skills_header{
    margin-top: .5rem;
    display: flex;
    align-items: center;
}
.skills_header > p{
    font-family: 'Protest Guerrilla';
    font-size: 60px;
    margin: 0px 2rem ;
}
.arrows{
    height: 60px;
    aspect-ratio: 1;
}
.skills_container{
    margin: auto;
    width: 80%;
    height: fit-content;
    padding: 2% 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skills_items{
    position: relative;
    margin: 2% 3%;
    width: calc(13% + 0.5rem);
    border-radius: 50%;
    aspect-ratio: 1;
    transition: all 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills_items:hover{
    transform: scale(1.4);
}
.skills_items:hover .skill_info{
    display: flex;
    backdrop-filter: blur(6.6px) saturate(100%);
}
.skills_items:hover .percentage_mask{
    background-color: black;
}
.percentage_mask{
    position: relative;
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill_images{
    max-width: 90%;
    max-height: 90%;
}
.skill_info{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill_info > p{
    font-size: medium;
    font-family: 'Electrolize';
    font-weight: bolder;
}
#projects{
    background-color: rgb(44, 161, 69);
}
#contact{
    background-color: rgb(206, 31, 31);
}